@import "./vars";
@import "./mixins";
@import "./inputs";

* {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}

:root {
  --thumb-width: #{$thumb-width-no};
  --thumb-border-width: #{$thumb-border-width-no};
  --bubble-width: #{$bubble-width-no};
}

body {
  background-color: whitesmoke;
  color: ghostwhite;
}

.container {
  margin: 50px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// .break {
//   flex-basis: 100%;
//   height: 0;
// }

.dishes {
  width: 100%;
  // margin-left: auto;
  // margin-right: auto;
}

button {
  color: white;
  border: 0;
  background-color: rgb(0, 149, 0);
  // background-color: #00a5ce;
  padding: 6px;
  margin: 10px;
  min-width: 80px;
  border-radius: 4px;

  &:disabled {
    opacity: 0.65;
  }
}

form {
  overflow: hidden;
}

#dishes-form {
  text-align: center;
  width: 60%;
}

.answer {
  font-weight: weight("fatter");
  font-size: 1.35rem;
  text-align: center;
  // margin: 15px auto 10px auto;
  margin: 3rem auto 3rem auto;
}

.image {
  color: darkgreen;
  text-align: center;
  width: auto;
  // margin-top: 3rem;
  // margin-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  // transition: all 0.5s linear;
}

.photo {
  width: 100%;
  // width: 299px;
  // height: 224px;
  height: auto;
  // position: absolute;
  // left: 0%;
  // left: 50%;
  // margin-right: -50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
}

.row {
  width: 100%;
  // margin-left: auto;
  // margin-right: auto;
}

.center {
  text-align: center;
}

.title {
  text-align: center;
  // color: darkgreen;
  color: #00a5ce;
  margin-bottom: 30px;
  transition: all $short-time ease-out;
}

.fine {
  // color: blue;
  color: darkgreen;
}

.bad {
  color: #dc3545;
}

.wait {
  color: black;
}

.invalid-feedback {
  // display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 1rem;
  color: #dc3545;
  // color: rgb(244, 27, 53);
  // width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  font-weight: 700;
  display: block;
  font-size: 0.9rem;
  border-radius: 0.25rem;
}

@keyframes showUp {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.show-up {
  animation: showUp 0.5s ease-in-out forwards;
  // transform: translateY(-15%);
}

@keyframes showLeft {
  from {
    transform: translateX(-125%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.show-left {
  animation: showLeft 0.5s ease-in-out forwards;
}

@keyframes showRight {
  from {
    transform: translateX(125%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.show-right {
  animation: showRight 0.5s ease-in-out forwards;
}

@keyframes showDown {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0%);
  }
}

.show-down {
  animation: showDown 0.5s ease-in-out forwards;
}

.hide-up {
  transform: translateY(-100%);
}
.hide-upper {
  transform: translateY(-500%);
}

.hide-down {
  transform: translateY(150%);
}

.hide-right {
  transform: translateX(125%);
}

.hide-left {
  transform: translateX(-125%);
}

.narrow {
  width: 50%;
}

.narrow-70 {
  width: 70%;
}

// @media all and (max-width: 847px) {
//   .range {
//     width: 250px;
//   }
// }

.no-display {
  display: none;
}

@media all and (max-width: 770px) {
  .container {
    margin: 15px;
  }

  #dishes-form {
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media all and (max-width: 736px) {
  .image {
    margin-top: 1rem;
    // margin-left: 0.5rem;
    // margin-left: 1rem;
  }
}

@media all and (max-width: 570px) {
  .narrow {
    width: 100%;
  }

  .narrow-70 {
    width: 100%;
  }
}

@media all and (max-width: 420px) {
  // .container {
  //   margin: 15px;
  // }
  // .input-block {
  //   margin-left: 0;
  //   margin-right: 0;
  // }
}
